site_name: Bapbap Modding Docs
site_description: Documentation for modding Bapbap
repo_url: https://github.com/epicbo/BAPBAPModdingDocs
theme:
  name: material

nav:
  - Home: index.md
  - Getting Started:
      - Overview: getting-started/overview.md
  - Guides:
      - Augments: guides/augments.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.inlinehilite